@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c3002e;  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #c3002e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  color: #ffffff;
  background: linear-gradient(145deg, var(--primary), #a40025);
}

.btn-primary:hover {
  background: linear-gradient(145deg, #e10037, var(--primary));
}
